# Virtual environments
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Flask / app folders inside project
app/instance/
app/migrations/

# If instance/migrations are anywhere (на всякий случай)
instance/
migrations/

# Environment variables file
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

