{% extends 'base.html'%}


{% block title %}
<title>Login</title>
{% endblock %}


{% block links %}
<link rel="stylesheet" href="{{url_for('registration_blueprint.static', filename = 'css/registration.css')}}">

{% endblock %}

{% block header %}
<header> 
    <img src="{{ url_for('static', filename = 'images/worldit.png') }}">
</header>
{% endblock %}

{% block content %}

<h2>Увiйти</h2>


<div class = "registration-container">
    
    <form method="POST">
        <input type="email" name = "email" placeholder="Email"  required />
        <input type="password" name = "password" placeholder="Password" required minlength="8" / >
        <button type = "submit">Увiйти</button>
        
    </form>
    <p class="or">або</p>
    <a href="/registration"><button class="login">Зареєструватись</button></a>

    <p>Натискаючи «Продовжити», ви погоджуєтеся з нашими
    <a href="">Умовами обслуговування </a> та <a href="">Політикою конфіденційності </a>.
    
    
</div>

{% endblock %}
